
header {
  display: block;
  z-index: 1;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
  width: 960px;
}


header nav {
    width: 100%;
}

header nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 16.6667%; /* fallback for non-calc() browsers */
    width: calc(100% / 5);
    box-sizing: border-box;
}

header nav ul li:first-child {
    border-left: none;
}

header nav ul li a {
    display: block;
    text-decoration: underline;
    padding: 10px 0;
}



#card{
  color: #FFF;
  text-align: center;
  font-family: "jura", sans-serif;
  font-family: "Stick No Bills", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 128px;
  max-width: 640px;
}


#title{
  font-weight: 300;
  font-size: 120px;

  font-family: "Josefin Sans", sans-serif;
  background: -webkit-linear-gradient(white, #eeaa5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#disclaimer{
  color: #cccccc;
  padding: 16px;
  max-width: 100%;
}

#disclaimer p{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #cccccc;
  font-size: x-large;
  font-family: "Raleway", sans-serif;
  font-weight: 50;
}


#tagline {
  font-size: 25px;
  display:block;
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(white, #5a5a5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}






footer {
  bottom: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  font-size: xx-large;
}

footer div small {
  margin-left: auto;
  margin-right: auto;
  color: #cccccc;
  font-size: small;
}

footer div nav{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



header nav{
  display: block;
  align-items: center;
  justify-content: center;
}

nav a{
  text-decoration: underline;
  color: #cccccc;
  font-size: x-large;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Stick No Bills", sans-serif;
  font-family: "Jura", sans-serif;
}

nav a i {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  background: -webkit-linear-gradient(white, #eeaa5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo{
  text-decoration: none;
  width: 200px;
  height: 100%;
  font-size: xx-large;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  background: -webkit-linear-gradient(white, #38495a);
  background: -webkit-linear-gradient(white, #eeaa5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: auto;
  margin-right: auto;
}


label {
  display: inline;
  font-family: "Josefin Sans", sans-serif;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type=email], select, textarea {
  display: inline;
  background: #000000;
  color: #cccccc;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}






input[type=text], select, textarea {
  display: inline;
  width: 100%; /* Full width */
  color: #cccccc;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  background: -webkit-linear-gradient(white, #38495a);

  background: -moz-linear-gradient(top, white 0%, #38495a 100%);
  background: -webkit-linear-gradient(top, white 0%,  #38495a 100%);
  background: linear-gradient(to bottom, white 0%,  #38495a 100%);
  font-family: "Josefin Sans", sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
  background: -webkit-linear-gradient(white, #eeaa5a);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

p a {
  color: white;
}



#mc_embed_signup{clear:left; font:14px Roboto,sans-serif; width:100%; }

#mc_embed_signup input[type=email],select, textarea {
display: inline;
background-color: black;
}

#mc_embed_signup{clear:left; font:14px Roboto,sans-serif; width:100%; }

#mc_embed_signup input[type=email],select, textarea {
display: inline;
background-color: black;
}

footer > #mobile-nav{
  display: none;
  margin-bottom: 32px; 
}

footer > #mobile-nav ul li {
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

footer > #mobile-nav ul li a {
    display: block;
    text-decoration: underline;
    padding: 10px 0;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
 
  #card {
    width: 100%;
    max-width: 100%;
    font-size: 150%;
    margin-top: 32px;
  }


  header {
    display: none;
  }

  footer {
    position: relative;
  }

  footer > #mobile-nav{
     display: block
  }

  #mc_embed_signup{ display: none;}

}








