

header {
  width: 960px;;
  padding-bottom: 8px;
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

header nav {
    width: 100%;
}

header nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
}

header nav ul li {
    float: none;
    display: inline-block;
    position: relative;
}


header nav ul li:nth-child(1) {
    float: left;
}
header nav ul li:nth-child(2) {
    float: left;
}
header nav ul li:nth-child(3) {
    float: left;
}


header nav ul li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    margin: 0;
    font-family: "Jura", sans-serif;
}

#stack {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 960px;
 min-height: 100vh;
 background-color: #000000cc;
}

#content {
 display: flex;
 flex-direction: column;
 width: 960px;
 height: 100%;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 128px;
 z-index: 0;
 background-color: #000000cc;
 min-height: 100vh;
 padding-left: 16px;
 padding-right: 16px;
 
}


p {
  color: #aaaaaa;
  font-size: large;
}


pre {
 padding: 16px;
 background-color: #333333;
}

code {
  color: #cccccc;
  font-family: "Roboto Mono", sans-serif;
}

p code {

}

footer {
  bottom: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 960px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
  background-color: black;
}

footer #footer-shade{
  background-color: #00003366;
  padding-top: 8px;
}

footer div small {
  margin-left: auto;
  margin-right: auto;
  color: #cccccc;
  font-size: small;
}





nav{
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav > a{
  text-decoration: none;
  color: #cccccc;
  margin: 0 40px;
  font-size: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Stick No Bills", sans-serif;
  font-family: "Jura", sans-serif;
}

nav > a > i {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #ffffff
}

a:hover {
  background: -webkit-linear-gradient(white, #eeaa5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo{
  position: absolute;
  left: 50%;
  content: "";
  text-decoration: none;
  width: 200px;
  height: 100%;
  font-size: xx-large;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-left: -100px;
}

#logo > span {
  background: -webkit-linear-gradient(white, #38495a);
  background: -webkit-linear-gradient(white, #eeaa5a);
  letter-spacing: 2px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


label {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type=email], select, textarea {
  background: #000000;
  color: #cccccc;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  color: #cccccc;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  background: -webkit-linear-gradient(white, #38495a);

  background: -moz-linear-gradient(top, white 0%, #38495a 100%);
  background: -webkit-linear-gradient(top, white 0%,  #38495a 100%);
  background: linear-gradient(to bottom, white 0%,  #38495a 100%);
  font-family: "Josefin Sans", sans-serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
  background: -webkit-linear-gradient(white, #eeaa5a);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

p strong {
  font-weight: 900
}

p a {
  color: white;
}





#mc_embed_signup{clear:left; font:14px Roboto,sans-serif; width:100%; }

#mc_embed_signup input[type=email],select, textarea {
display: inline;
background-color: black;
}



.mobile {
  display: none;
}



#mobile-nav{
  display: none;
  font-size: large;
}

#mobile-nav ul li {
    list-style: none;
    text-align: center;
    box-sizing: border-box;
}

#mobile-nav ul li a {
    display: block;
    text-decoration: underline;
    padding: 10px 0;
}





/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
 
  #stack{
    width: 100%;
    max-width: 100%;
  }

  #content{
    width: 100%;
    max-width: 100%;
  }

  .mobile {
    display: block;
  }

  #mobile-nav {
    display: block;
  }

  .desktop {
    display: none;
  }

  header {
  width: 100%;
  max-width: 100%;
  text-align: center;
  }

  footer {
    position: relative;
    width: 100%;
  }

  footer > #mobile-nav{
     display: block;
  }
  
  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: large;
  }

  h3 {
    font-size: medium;
  }

  footer > div > #icons {
    font-size: small;
  }

  #content {
   padding-bottom: 0px;
   padding: 16px;
  }

}



